   <!-- footer -->
   <footer>
    <div class="topFooter">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="footLogo">
                                <img src="/assets/twn/images/logo.svg">
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="contact">
                                <ul>
                                    <li><h3>Contact Us</h3></li>
                                    <li><a><i class="fas fa-map-marker-alt"
                                              style="padding-right: 10px;"></i>Dillibazar,
                                            Kathmandu, Nepal</a></li>
                                    <li><a href=""><i class="fas fa-mobile-alt"
                                                                   style="padding-right: 10px;"></i>+977-9861287084</a>
                                    </li>
                                    <li><a href=""><i class="fas fa-envelope-open"
                                                                                      style="padding-right: 10px;"></i>info@motodock.com.np</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">

                        <div class="col-lg-4">
                            <div class="company">
                                <ul>
                                    <li><h3>Company</h3></li>
                                    <li><p><a href="">About Us</a></p></li>
                                    <li><p><a href="">FAQs</a></p></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="policy">
                                <ul>
                                    <li><h3>Policy</h3></li>
                                    <li><p><a href="">Terms and Condition</a></p></li>
                                    <li><p><a href="">Privacy Policy</a></p></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="resource">
                                <ul>
                                    <li><h3>Resources</h3></li>
                                    <li><p><a href="">Blog</a></p></li>
                                    <li><p><a href="">Press</a></p></li>
                                    <li><p><a href="">Agent Registration</a></p></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="cardRecept newsLetter2 ">
                        <span>We accept:</span>
                        <ul>
                            <li><img src="/assets/twn/frontend/payments/esewa.png" width="100"></li>
                            <li><img src="/assets/twn/frontend/payments/khalti.png" width="100"></li>
                            <li><img src="/assets/twn/frontend/payments/ime.png" width="100"></li>
                            <li><img src="/assets/twn/frontend/payments/cod.jpg" width="100"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="textBoxFoot">
                        <div class="newsLetter2">
                            <span style="padding-right: 7px;">Join Our Newsletter</span>
                            <form class="form-inline center">
                                <input class="form-control mr-sm-2" type="email" placeholder="Your Email" id="sub-email"
                                       aria-label="Search" required
                                       style="width: 380px;border-top-right-radius: 0;border-bottom-right-radius: 0;">
                                <button class="btn subButton my-2 my-sm-0 submit" type="submit">Subscribe</button>
                            </form>
                            <div class="email-msg"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <a href="">
                        <img src="https://seal.beyondsecurity.com/verification-images/www.thirdwheel.com.np/Fvulnerability-scanner-8.gif"
                             alt="Website Security Test" border="0"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="lowFooter">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <p>Copyright © 2019. All Rights Reserved. </p>
                </div>
                <div class="col-lg-4">
                    <center>
                        <div class="socialIcon">
                             <ul>
                                <li><a href="" target="_blank"
                                       class="hvr-float-shadow"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="" target="_blank"
                                       class="hvr-float-shadow">
                                        <i class="fab fa-twitter"></i></a></li>
                                <li><a href="" target="_blank"
                                       class="hvr-float-shadow"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="" target="_blank"
                                       class="hvr-float-shadow"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="" target="_blank"
                                       class="hvr-float-shadow"><i class="fa fa-youtube " aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </center>
                </div>
                <div class="col-lg-4">
                    <div class="power">
                        <p>Powered By :<a href="http://impactit.com.np" target="_blank">
                                <img src="/assets/twn/frontend/logo/impact.png"
                                     class="img img-responsive "></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</footer>