<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            
        <img src="" height="50" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">BlueBook Renew</a>
                </li>

                                                            <li class="nav-item"><a class="nav-link" href="">Shopping</a></li>
                                        <li class="nav-item">
                        <a class="nav-link" href="">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <img src="https://thirdwheel.com.np/assets/twn/frontend/images/cart2.png"
                                 class="img img-responsive" width="25px" height="25px">
                                                    </a>
                    </li>
                        <li class="dropdown">
                            <a class="" data-toggle="dropdown" href="#">
                                <i class="far fa-bell" style="font-size: 23px;"></i>
                            </a>
                            <script>
                                $(document).ready(function () {
                                    $.ajax({
                                        post: "GET",
                                        url: "https://thirdwheel.com.np/customer/getNotifications",
                                        headers: {
                                            'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                                        },
                                        success: function (data) {
                                            $.each(data, function (k, v) {
                                                var id = v.id;
                                                var title = v.title;
                                                var description = v.notification;
                                                if (description.length >= 120) {
                                                    var shortDesc = description.substr(0, 120);
                                                    var readMoreButton = 'Read More';
                                                } else {
                                                    shortDesc = description;
                                                    readMoreButton = ' ';
                                                }
                                                if (v.image != null)
                                                    var baseUrl = 'https://thirdwheel.com.np/assets/frontend/images/push-notification/' + v.image;
                                                else
                                                    var baseUrl = 'https://thirdwheel.com.np/assets/twn/images/logo.svg';

                                                $('#notification').append(
                                                    '<li><div class="row"><div class="col-lg-2"><div class="notImg">' +
                                                    '<img src=" ' + baseUrl + '" width="50" alt="" /></div></div>' +
                                                    '<div class="col-lg-10"><div class="noticationInfo"><h6><a class="readBtn" href="#" style="color: #0b1539;" onclick="myFunction(this)" data-id="' + id + '">' + title + '</a></h6></div></div>' +
                                                    '<div class="col-lg-12"><div class="clickNoticaion"><p>' + shortDesc + '</p>' +
                                                    '<a class="readBtn" onclick="myFunction(this)" data-id="' + id + '">'+ readMoreButton + '</a>' +
                                                    '<p class="date">' + v.published_date + '</p><div class="clear"></div></div></div></div></li>'
                                                );

                                                $('#notificationDetails').append(
                                                    '<div class="notificaitionDetail"><div class="modal fade" id="notificationModal' + id + '" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">' +
                                                    '<div class="modal-dialog modal-lg"><div class="modal-content"><div class="modal-header"><h5 class="modal-title" id="exampleModalCenterTitle">' +
                                                    title + '</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>' +
                                                    '<div class="modal-body"><div class="row"><div class="col-lg-8"><div class="notificaitionDetailInfo"><p class="date">' + v.published_date + '</p>' +
                                                    '<p>' + description + '</p></div></div> <div class="col-lg-4"><div class="notificationDetailImg"><img src="' + baseUrl + '" alt=""/></div></div></div>' +
                                                    '</div></div></div></div><div class="clear"></div></div>'
                                                );
                                            });
                                        }
                                    }).done(function (errors) {
                                        if (errors.errors) {
                                            console.log(errors.errors);
                                        }
                                    });

                                });
                            </script>
                            <ul class="dropdown-menu notifcationDrp" id="notification">
                                <h5 class="notiTitle">Third Wheel Notifications</h5>
                            </ul>
                            <script>
                                function myFunction(elem) {
                                    var btnId = $(elem).data('id');
                                    $("#notificationModal" + btnId).modal();
                                }
                            </script>
                        </li>
                    <li class="dropdown">
                        <a class="" data-toggle="dropdown" href="#">
                            <img src=" https://graph.facebook.com/v3.0/61016576260885/picture?type=normal
                            "
                                 class="img img-responsive img-circle"
                                 width="45" height="45" style="border-radius: 50%; margin-top: -10px;"/>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href=""><i class="fas fa-tachometer-alt"
                                                                             aria-hidden="true"
                                                                             style="padding-right: 7px;"></i> Dashboard</a>
                            </li>
                            <li><a href="">
                                    <i class="fa fa-user" aria-hidden="true"
                                       style="padding-right: 7px;"></i>
                                    Profile</a></li>
                                                            <li><a href="">
                                        <i class="fas fa-key" aria-hidden="true"
                                           style="padding-right: 7px;"></i></i>
                                        Password</a></li>
                                                        <li style="border-top:1px solid #fff;">
                                <a href="http://localhost:3001/customer/login"><i
                                            class="fas fa-sign-out-alt" aria-hidden="true"
                                            style="padding-right: 7px;"></i>
                                    Logout</a>
                                <form id="logout-form" action="" method="POST"
                                      style="display: none;"><input type="hidden" name="_token" value="DSmND32yjXdTi132csdZAinE6lV0ogF2Vci7qs0Y"> </form>
                            </li>
                        </ul>
                    </li>
                            </ul>
        </div>
    </div>
</nav>