<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://thirdwheel.com.np">
            <img src="https://thirdwheel.com.np/assets/twn/images/thirdwheel_logo.svg" height="50"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://thirdwheel.com.np">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://thirdwheel.com.np/billbook-renew">BlueBook Renew</a>
                </li>
                                    <li class="nav-item"><a class="nav-link" href="https://thirdwheel.com.np/shopping"
                                            target="_blank">Shopping</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://thirdwheel.com.np/contact">Contact Us</a>
                    </li>
                                                </ul>
        </div>
    </div>
</nav>